body {
    margin-top: 10px;
}

.imgRicette {
    height: 80%;
    width: 100%;
}

.imgIcon {
    height: 30px;
    width: 50px;
}

.extraMargin {
   margin-top: 10vh;
}

.inner-container {
    padding: 20px; 
    background: #fff;
  }

  .customh{
    height: 460px;
  }

  .customwidth{
    width: 700px;
    margin-top: 50px ;
    margin-bottom: 150px;
  }