body {
    margin-top: 10px;
    background-color: #eae9e9;
}

.imgRicette {
    height: 80%;
    width: 100%;
}

.imgIcon {
    height: 30px;
    width: 50px;
}



.container-white {
    background-color: #fff;
  }

 
.customwidth{
    width: 900px;
    margin-top: 50px ;
    margin-bottom: 150px;
  }

  .btn-light {
    --bs-btn-bg: #f0f0f0;
    --bs-btn-border-color: #acbdcd;
  }

  @media only screen and (max-width: 995px) {
    .customwidth{
        width: auto;
        margin: 20px 10px 80px 10px;
      }

  }